<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Dato en <%= nombreTabla %></title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header>
        <h1>Editar Dato en <%= nombreTabla %></h1>
    </header>
    <main>
        <section class="edit-form-container">
            <form action="/actualizar-dato" method="POST">
                <input type="hidden" name="nombreBaseDeDatos" value="<%= nombreBaseDeDatos %>">
                <input type="hidden" name="nombreTabla" value="<%= nombreTabla %>">
                <input type="hidden" name="id" value="<%= dato.id %>">
                
                <% Object.keys(dato).forEach(campo => { %>
                    <% if (campo !== 'id') { %>
                        <label for="<%= campo %>"><%= campo %>:</label>
                        <input type="text" id="<%= campo %>" name="<%= campo %>" value="<%= dato[campo] %>" required>
                    <% } %>
                <% }); %>
                
                <button type="submit">Actualizar</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 DBMinder Todos los derechos reservados.</p>
    </footer>
</body>
</html>
